.gameContainer {
    background-color: white;
}

.backGame {
    height: 9vh;
    background-color: #CF2B2B;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.backGame img {
    padding-left: 23px;
    width: auto;
    height: 3vh;
    fill: #FFFFFF;
}

.pageGame {
    padding-left: 2vw;
    font-size: 20px;
    color: #FFFFFF;
}

.wheel img {
    margin-top: 350px;
    width: 100%;
    height: auto;
}