.backHistory {
  height: 9vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.backHistory img {
  padding-left: 23px;
  width: auto;
  height: 3vh;
}

.pageHistory {
  padding-left: 2vw;
  font-size: 24px;
}

.historyHeader {
  height: 24vh;
}

.transContainer {
  margin: 58px 20px 58px 20px;
}

.listContainer {
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
}

.transDate {
  margin: 5px;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  font-size: 24px;
  color: #4a4a4a;
  font-weight: bold;
}

.day {
  font-size: 14px;
  color: #4a4a4a;
  font-weight: bold;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  width: 85%;
  background: #ffffff;
  box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.transIconRedeemed {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff5f5f;
  border-radius: 6px;
  width: 52px;
  height: 60px;
}

.transIconEarned {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7ed321;
  border-radius: 6px;
  width: 52px;
  height: 60px;
}

.nameContainer img {
  width: 40px;
  height: 40px;
}

.transName {
  width: 36vw;
  padding-left: 5vw;
  padding-right: 6vw;
  font-size: 18px;
  color: #939393;
  font-weight: bold;
}

.transPointRedeemed {
  font-size: 18px;
  margin-right: 1vw;
  color: #ff5f5f;
  font-weight: bold;
}

.transPointEarned {
  font-size: 18px;
  margin-right: 1vw;
  color: #7ed321;
  font-weight: bold;
}
