.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.navContainer {
  position: absolute;
  top: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 80%;
  height: 20vh;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.12);
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 3vw;
  font-size: 3vw;
  font-weight: bold;
  color: #5c5c5c;
  cursor: pointer;
}

.navIcon {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 16vw;
  height: 16vw;
  max-width: 150px;
  max-height: 150px;
  background-color: #d8d8d8;
  border-radius: 100%;
}

.navIcon img {
  width: 8vw;
  height: 8vw;
  min-width: 30px;
  min-height: 30px;
}

.promotionContainer {
  margin: 30vw 20px 10px 20px;
  display: flex;
  flex-direction: column;
  /* background-color: darkred; */
  width: 100%;
}

.promotionTitle {
  margin: 10px 5px 5px 25px;
  color: gray;
  font-weight: bold;
  font-size: 4vw;
}

.promotionSlide {
  margin: 10px;
}

.promotionList {
  margin: 10px;
  height: 26vh;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 7px 9px 0 rgba(0, 0, 0, 0.06);
}

.promotionListImage {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  box-shadow: 0 7px 9px 0 rgba(0, 0, 0, 0.06);
}

.promotionListPrice {
  position: absolute;
  top: 4vw;
  font-weight: bold;
  margin: 1vw 2vw 2vw 3vw;
  padding: 2px;
  width: 24vw;
  color: white;
  background-color: #cf2b2b;
  border-radius: 3px;
  font-size: 4vw;
}
