.loginContainer {
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/* .headerLoginContainer {
  overflow: hidden;
} */

.headerLogin {
  width: 150vw;
  max-height: 100px;
  overflow: hidden;
  padding-bottom: 10vw;
  padding-top: 10vw;
  margin-bottom: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e11930;
  border-radius: 0 0 50% 50%;
}

.logoImg {
  width: 52vw;
  height: auto;
}

.popupLoginContainer {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.61);
}

.popupLoginMsg {
  display: block;
  position: absolute;
  top: 36vh;
  width: 70vw;
  height: 20vh;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
}

.formContainer {
  margin: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.formItem {
  width: 100%;
  margin: 3vw 2vw;
}

.formLabel {
  width: 100%;
  color: #9b9b9b;
  font-size: 15px;
}

.inputText {
  font-size: 18px;
  margin-top: 2vw;
  padding: 3px;
  width: 100%;
  height: 12vw;
  max-height: 40px;
  background-color: #e9e9e9;
  border: 0;
  border-radius: 6px;
}

.formBtn {
  margin: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  font-size: 16px;
  font-weight: bold;
  background-color: #f8e71c;
  width: 50%;
  height: 9vw;
  max-height: 40px;
  box-shadow: 0 6px 10px 0 rgba(149, 149, 149, 0.5);
  border-radius: 6px;
}

.formBtn:active {
  box-shadow: 0 2px 4px 0 rgba(149, 149, 149, 0.5);
}
