.redeemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.backRedeem {
  width: 100%;
  height: 9vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.backRedeem img {
  padding-left: 23px;
  width: auto;
  height: 3vh;
}

.couponContainer {
  width: 100%;
  height: 82vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}

.couponDetail {
  margin: 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.couponImage {
  width: 25vw;
  height: 25vw;
  background-color: #d8d8d8;
  border-radius: 4px;
}

.couponName {
  margin: 3vw;
  color: #ffffff;
  font-weight: bold;
  font-size: 5.5vw;
}

.couponDesc {
  width: 70vw;
  padding: 15px;
  text-align: center;
  color: #e5e5e5;
  font-size: 3.5vw;
}

.couponPrice {
  position: absolute;
  top: 58vh;
  text-align: center;
  color: #e5e5e5;
  font-size: 4vw;
}

.price {
  padding: 3vh;
  font-size: 6vw;
  color: #ffffff;
}

.redeemBtn {
  position: absolute;
  top: 78vh;
  padding: 2vh;
  width: 50vw;
  font-size: 4vw;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 3px 4px #00000026;
  background-color: #f8e71c;
  font-weight: bold;
}

.popUpContainerShow {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.61);
}

.popUpContainerClose {
  display: none;
}

.popUpShow {
  display: block;
  position: absolute;
  top: 36vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  width: 85vw;
  height: 35vh;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.12);
}

.popUpImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18vw;
  height: 18vw;
  border-radius: 100%;
  background-color: #209b7f;
}

.popUpImg img {
  width: 12vw;
  height: auto;
}

.popUpText {
  text-align: center;
  font-size: 4vw;
  font-weight: bold;
}

.popUpBtn {
  font-size: 4vw;
  font-weight: bold;
  width: 70vw;
  padding: 10px;
  text-align: center;
  background-color: #f8e71c;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.12);
}
