.headContainer {
  background-color: darkred;
  width: 100%;
  height: 35vh;
  max-height: 220px;
}

.pointDesc {
  padding: 8vw 10vw 6vw 10vw;
}

.headTitle {
  color: lightgray;
  font-size: 5vw;
  font-weight: bold;
}

.headPoint {
  padding-top: 2vh;
  display: flex;
  align-items: center;
  color: white;
  font-size: 7vw;
}

.dot {
  margin: 5px;
  width: 4vw;
  height: 4vw;
  max-width: 120px;
  max-height: 120px;
  background-color: rgb(255, 238, 0);
  border-radius: 100%;
}

.logout {
  font-size: 20px;
  color: #ffffff;
}
