.wheel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas {
  padding: 15px;
  width: 80vw;
  height: 80vw;
}

.wheelContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  position: absolute;
  top: 53vh;
}

.board img {
  width: 100%;
}

.pointContainer {
  position: absolute;
  top: 12vh;
  right: 0;
  width: 35%;
  height: 5vh;
  border-radius: 40% 0;
  background-color: darkred;
}
