@import url("https://fonts.googleapis.com/css?family=Lato");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* @font-face {
  font-family: 'Avenir Next';
  src: url('./Asset/Avenir/ Next.ttc');
} */

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: rgba(240, 240, 240, 0.589);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
